// variables
$pink: #b53471;
$purple: #833471;
$red: #dc1b29;
$brown-500: #965233;
$brown-700: #745d55;
$peach: #f48770;

$green-100: #e1efe3;
$purple-100: #ebe8f4;
$beige: #f6ebe0;
$blue: #ebf2fa;
$gray-100: #efefef;

$yellow: #eda310;
$green: #007c3b;
$lime: #8dd253;
$gray-400: #c8c8c8;
$gray-500: #a1a1a1;
$gray-600: #485764;
$lightgray: #eeeeee;
$full-white: #fff;
$full-black: #000;
$blue-500: #2d89a1;
$turquoise: #2ba099;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extrabold: 800;
$black: 900;

$xs: 0.75rem; // 12
$sm: 0.875rem; // 14
$base: 1rem; // 16
$lg: 1.125rem; // 18
$xl: 1.25rem; // 20
$xl_2: 1.375rem; // 22
$xl_3: 1.5rem; // 24
$xl_4: 1.875rem; // 30
$base_2: 2rem; // 32

$default_animation: 0.3s ease;
