@import './variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  // background-color: $lightgray;
  color: $full-black;
  font-weight: $regular;
  font-size: 16px;
  line-height: 1.20833333;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none !important;
}

.logo {
  display: block;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 90px;

  svg {
    width: 100%;
  }

  @media screen and (max-width: 1400px), (max-height: 800px) {
    width: 170px;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 768px) {
    width: 130px;
    margin-bottom: 30px;
  }
}

.container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  min-height: 100vh;
  background-image: url('/images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 66px 50px 0 50px;

  @media screen and (max-width: 1400px), (max-height: 800px) {
    padding: 40px 32px 0 32px;
  }

  @media screen and (max-width: 768px) {
    padding: 30px 16px 0 16px;
  }
}

.btn {
  width: 180px;
  border-radius: 12px;
  background-color: $purple;
  height: 46px;
  color: #fff;
  outline: none;
  border: none;
  font-weight: $extrabold;

  &:hover {
    cursor: pointer;
    background: rgb(131, 52, 113);
    background: linear-gradient(
      0deg,
      rgba(131, 52, 113, 1) 0%,
      rgba(181, 52, 113, 1) 100%
    );
  }

  &.reverse {
    background: rgb(131, 52, 113);
    background: linear-gradient(
      180deg,
      rgba(131, 52, 113, 1) 0%,
      rgba(181, 52, 113, 1) 100%
    );

    &:hover {
      background: rgb(131, 52, 113);
      background: linear-gradient(
        0deg,
        rgba(131, 52, 113, 1) 0%,
        rgba(181, 52, 113, 1) 100%
      );
    }
  }

  &.outline {
    border: 2px solid $purple;
    color: #000;
    background-color: #fff;

    &:hover {
      color: #fff;
      border: none;
    }
  }

  @media screen and (max-width: 768px) {
    width: 140px;
    border-radius: 8px;
    height: 44px;
  }
}

//

.surveyContainer {
  flex-shrink: 0;
  margin: 0 auto;
  max-width: 1200px;
}

.sv_main {
}

.sd-root-modern {
  border-radius: 18px;
}

.sd-action-bar {
  display: flex;
  justify-content: center;
}

.sd-btn {
}

.sd-html {
  .welcomeH4 {
    font-size: $xl_3;
    margin-bottom: 20px;
  }

  .welcomeSpan {
    display: inline-block;
    font-size: $base;
    line-height: 1.3;
    max-width: 700px;
  }

  @media screen and (max-width: 768px) {
    .welcomeH4 {
      font-size: $xl;
    }

    .welcomeSpan {
      display: inline-block;
      font-size: $base;
      line-height: 1.3;
      max-width: 700px;
    }
  }
}

.sd-body#sp_100 {
  padding: 76px 15px;
  text-align: center;
}

// кнопка на welcome слайде
.sd-btn.sd-navigation__start-btn {
  width: 282px;
  border-radius: 12px;
  background-color: $purple;
  height: 64px;
  color: #fff;
  outline: none;
  border: none;
  font-weight: $extrabold;
  font-size: $xl;
  padding: 0 !important;

  background: rgb(131, 52, 113);
  background: linear-gradient(
    180deg,
    rgba(131, 52, 113, 1) 0%,
    rgba(181, 52, 113, 1) 100%
  );

  &:hover {
    background: rgb(131, 52, 113);
    background: linear-gradient(
      0deg,
      rgba(131, 52, 113, 1) 0%,
      rgba(181, 52, 113, 1) 100%
    );
  }

  @media screen and (max-width: 768px) {
    height: 50px;
    font-size: $lg;
  }
}

// кнопка "далее"
.sd-btn.sd-navigation__next-btn {
  width: 180px;
  border-radius: 12px;
  background-color: $purple;
  height: 46px;
  color: #fff;
  outline: none;
  border: none;
  font-weight: $extrabold;
  padding: 0 !important;
  font-size: $base;
}

.sd-root-modern {
}

.sd-body.sd-body--responsive .sd-body__navigation {
  padding-top: 46px;
}

// прогресс бар
.sd-progress__bar {
  background: linear-gradient(
    90deg,
    rgba(131, 52, 113, 1) 0%,
    rgba(181, 52, 113, 1) 100%
  );
}

.sd-body__progress {
  height: 6px;
}

// скрывает "Page 1 of 10"
.sd-progress__text {
  display: none;
}

// тайтл над вопросом
h4.sd-title.sd-element__title > span {
  font-size: $xl_3;
  font-weight: $black;
}

.sd-element--with-frame {
  box-shadow: none;
}

.sd-element--complex>.sd-element__header {
  &:after {
    content: none;
    display: none !important;
  }
}

.sd-body.sd-body--responsive {
  padding: 52px 0 0 0;
}

.sd-element--complex.sd-element--with-frame>.sd-element__header {
  padding-bottom: 46px;
  padding-top: 0;
}

.sd-element__content {
  padding-top: 0;
}

sd-question__header sd-element__header sd-question__header--location-top sd-element__header--location-top

sd-title sd-element__title sd-question__title sd-question__title--required
.sd-element__header {
  padding-bottom: 8px !important;

  h5 {
    font-size: $xl;
    color: #A1A1A1 !important;
  }
}

.finishScreen {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-shrink: 0;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 18px;
  padding: 76px 15px 46px 15px;
  text-align: center;

  .finishScreenTitle {
    margin-bottom: 24px;
    font-size: $xl_3;
    font-weight: $black;
  }

  .finishScreenSubtitle {
    max-width: 450px;
    margin-bottom: 46px;
    font-size: $xl;
    line-height: 24px;
  }

  .finishScreenBtn {
    width: 282px;
    height: 64px;
    font-size: $xl;
  }
}
